@import './src/dracula.scss';
@import './src/typebase.scss';
@import './src/footer.scss';
@import './src/nav.scss';
@import './src/components.scss';
// General
a {
  color: #0747A6;
}

.app {
  display: flex;
  flex-direction: column;
  .main {
    margin: auto;
    @media screen and (min-width: 768px) {
      padding: 0;
      margin-left: 240px;
      width: calc(100% - 240px);
    }
    .content {
      padding: 0 2rem;
      padding-bottom: 9rem;
      width: 80%;
      margin: auto;
    }
  }
}

.hero {
  padding: 2rem 2rem 4rem;
  background: linear-gradient(#9e15e4, transparent), linear-gradient(90deg, #49c4ff, transparent), linear-gradient(-90deg, #2dead2, transparent);
  color: white;
  background-blend-mode: screen;
  h1 {
    font-size: 6rem;
    color: #ffffff;
    text-shadow: 0 0 4px rgba(7, 73, 166, 0.3);
  }
  h2 {
    color: #ffffff;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  @media screen and (min-width: 768px) {
    padding: 3rem 8rem 5rem;
    h1 {
      font-size: 8rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
}