@import './dracula';
@import './typebase.scss';

.project-example {
  border: 1px dashed #CECCCC;
  padding: 1rem;
  margin: 2rem 0 0;
  width: 97%;
}

.app {
  display: flex;
  flex-direction: column;
  .main {
    margin: auto;
    @media screen and (min-width: 768px) {
      padding: 0;
      margin-left: 240px;
      width: calc(100% - 240px);
    }
    .content {
      padding: 0 2rem;
      padding-bottom: 9rem;
      width: 80%;
      margin: auto;
    }
  }
}

footer {
  background-color: #f3f3f3;
  padding: 2rem 4rem;
  font-size: 0.8rem;
  color: #333;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 240px;
  & > div:last-child {
    text-align: right;
  }
}

a {
  color: #0747A6;
}

nav {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  background-color: #fbfbfb;
  height: 100%;
  box-shadow: 0 0 3px rgba(58, 77, 95, .5);
  width: 0px;
  overflow: hidden;
  position: fixed;
  padding-top: 22px;
  ul {
    text-align: left;
    list-style: none;
    padding: 0;
    text-decoration: none;
    li {
      padding: 11px 30px;
    }
    .heading {
      margin-top: 1.2rem;
      //font-size: 1.1rem;
      border-top: 1px solid #EBEBEB;
      background-color: white;
      color: #656565;
    }
  }
  .logo {
    height: 2.6rem;
    margin-top: 0.8rem;
  }
  @media screen and (min-width: 768px) {
    width: 240px;
  }
}

.hero {
  padding: 3rem 8rem 5rem;
  background: linear-gradient(#9e15e4, transparent), linear-gradient(90deg, #49c4ff, transparent), linear-gradient(-90deg, #2dead2, transparent);
	color:white;
  background-blend-mode: screen;
  //text-align: center;
  
  h1 {
    font-size: 8rem;
    color: #ffffff;
    text-shadow: 0 0 4px rgba(7, 73, 166, 0.3);
  }
  h2 {
    color: #ffffff;
    font-weight: 300;
    font-size: 2rem;
  }
}

.logo-big {
  height: 20rem;
}

.colour-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.colour-wrap {
  margin: 2rem 0;
  width: 150px;
  .colour-block {
    height: 100px;
    margin-bottom: 1rem;
  }
  .colour-border {
    border: 1px solid #EBEBEB;
  }
}

.github-link {
  fill: #8c9ba5;
  margin-right: 0.5rem;
}