footer {
  background-color: #f7f7f7;
  padding: 2rem 2rem;
  font-size: 0.8rem;
  color: #333;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  & > div:last-child {
    text-align: right;
  }
  @media screen and (min-width: 768px) {
    margin-left: 240px;
    padding: 2rem 4rem;
  }
}